<md-toolbar class="toolbarStyle" id="toolbarAnchorId" ng-class="{'toolbarBoxShadow': !$ctrl.flags.hideTitle}">
  <div class="md-toolbar-tools" style="margin: auto;">
    <md-button class="md-icon-button" id="menuIconButton" style=""
               ng-click="$ctrl.toggleSideNav()" ng-if="$ctrl.flags.loggedIn || $ctrl.flags.mediaXS">
      <ng-md-icon icon="menu" id="menuIcon" size="{{$ctrl.flags.mediaXS ? '32':'42'}}"></ng-md-icon>
    </md-button>

    <h3 ui-sref="main" md-colors="{color: 'primary'}" id="toolbarAppName" class="app-name">
      {{$ctrl.appName}}
    </h3>

    <span flex></span>
    <md-button style="color: #000;" hide-xs hide-sm>Start Earning</md-button>
    <md-button style="color: #000;" hide-xs hide-sm ui-sref="about">About</md-button>
    <md-button ng-if="!$ctrl.flags.loggedIn && !$ctrl.flags.mediaXS"
               md-colors="{backgroundColor: 'primary-600'}" style="margin-right: 3%;"
               ng-click="$ctrl.openSignInDialog(false, $event)">
      <span style="color: #ffffff">Log In</span>
    </md-button>
  </div>
</md-toolbar>
<div>
  <md-progress-circular ng-show="$ctrl.showProgress" md-mode="indeterminate" class="md-accent"></md-progress-circular>
</div>
