
toolbar {
  .toolbarBoxShadow {
    box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 2px !important;
  }

  .toolbarStyle {
    background-color: white !important;
    height: 60px !important;
    min-height: 60px !important;
  }
}
