<md-toolbar style="background-color: white;height: 60px;min-height: 60px">
  <div class="md-toolbar-tools" style="margin: auto;">
    <ng-md-icon icon="menu" size="48" style="color: #000;margin-left: 1%; margin-bottom: 30px"></ng-md-icon>
    <span flex></span>
    <md-button style="color: #000;" hide-xs hide-sm>Start Earning</md-button>
    <md-button style="color: #000;" hide-xs hide-sm>Help</md-button>
    <md-button style="color: white;background-color: rgba(197, 141, 161, 0.55)">Sign up
    </md-button>
    <md-button style="color: #000;margin-right: 1%;">Log In
      <ng-md-icon icon="arrow_forward" style="color: #000;"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>
