<div layout="row" layout-xs="column" layout-sm="column" style="height: 92vh;">
  <div id="listToolbarContainer">
    <md-toolbar id="searchPageToolbar" class="md-padding">
      <div hide-xs layout="row">

        <md-button hide show-sm ng-if="$ctrl.flags.showMap" ng-click="$ctrl.flags.showMap = false">
          <ng-md-icon icon="list"></ng-md-icon>
          List
        </md-button>
        <md-button hide show-sm ng-if="!$ctrl.flags.showMap" ng-click="$ctrl.flags.showMap = true; $ctrl.initMap()">
          <ng-md-icon icon="map"></ng-md-icon>
          Map
        </md-button>

        <div class="searchPageToolbarItems" ng-class="{activePanel : $ctrl.flags.whatPanelActive}"
             ng-click="$ctrl.openWhatPanel($event)" flex>
          <div style="margin: 7px auto;">
            <span ng-if="!$ctrl.searchParams.what" class="searchPageToolbarItemsSpan" flex>Anything</span>
            <span ng-if="$ctrl.searchParams.what" class="searchPageToolbarItemsSpan"
                  flex>{{$ctrl.searchParams.what}}</span>
            <ng-md-icon ng-if="!$ctrl.flags.whatPanelActive" icon="expand_more"></ng-md-icon>
            <ng-md-icon ng-if="$ctrl.flags.whatPanelActive" icon="expand_less"></ng-md-icon>
          </div>
        </div>

        <div class="searchPageToolbarItems" ng-class="{activePanel : $ctrl.flags.whenPanelActive}"
             ng-click="$ctrl.openWhenPanel($event)" flex>
          <div style="margin: 7px auto;">
            <span ng-if="!$ctrl.searchParams.startDate" class="searchPageToolbarItemsSpan" flex>Anytime</span>
            <span ng-if="$ctrl.searchParams.startDate" class="searchPageToolbarItemsSpan" flex>
              {{$ctrl.searchParams.startDate | date: "MMM dd"}} - {{$ctrl.searchParams.endDate | date: "MMM dd"}}</span>
            <ng-md-icon ng-if="!$ctrl.flags.whenPanelActive" icon="expand_more"></ng-md-icon>
            <ng-md-icon ng-if="$ctrl.flags.whenPanelActive" icon="expand_less"></ng-md-icon>
          </div>
        </div>

        <div class="searchPageToolbarItems" ng-class="{activePanel : $ctrl.flags.wherePanelActive}"
             style="cursor: pointer" ng-click="$ctrl.openWherePanel($event)" flex>
          <div style="margin: 7px auto;">
            <span ng-if="!$ctrl.searchParams.where" class="searchPageToolbarItemsSpan" flex>Anywhere</span>
            <span ng-if="$ctrl.searchParams.where" class="searchPageToolbarItemsSpan"
                  flex>{{$ctrl.searchParams.where}}</span>
            <ng-md-icon ng-if="!$ctrl.flags.wherePanelActive" icon="expand_more"></ng-md-icon>
            <ng-md-icon ng-if="$ctrl.flags.wherePanelActive" icon="expand_less"></ng-md-icon>
          </div>
        </div>

        <div class="searchPageToolbarItems" ng-class="{activePanel : $ctrl.flags.whatPanelActive}"
             style="cursor: pointer" ng-click="$ctrl.openWhatPanel($event)" flex>
          <div style="margin: 7px auto;">
            <span ng-if="!$ctrl.searchParams.what" class="searchPageToolbarItemsSpan" flex>More filters</span>
            <span ng-if="$ctrl.searchParams.what" class="searchPageToolbarItemsSpan"
                  flex>{{$ctrl.searchParams.what}}</span>
            <ng-md-icon icon="expand_more"></ng-md-icon>
          </div>
        </div>

      </div>
      <div hide show-xs layout="row">
        <md-button ng-if="!$ctrl.flags.showMap" ng-click="$ctrl.flags.showMap = true; ">
          <ng-md-icon icon="map"></ng-md-icon>
          Map
        </md-button>
        <md-button ng-if="$ctrl.flags.showMap" ng-click="$ctrl.flags.showMap = false">
          <ng-md-icon icon="list"></ng-md-icon>
          List
        </md-button>
        <md-button>
          <ng-md-icon icon="filter_list"></ng-md-icon>
          Filters
        </md-button>
      </div>
    </md-toolbar>

    <loading-dots ng-if="$ctrl.flags.loading" style="position: relative; margin: 100px auto 0; display: block; height: 0;"></loading-dots>

    <div id="noItemsText" ng-if="!$ctrl.flags.showMap && !$ctrl.flags.loading && !$ctrl.items.length">
      Sorry, no items yet that matched your criteria.  If you have items lying around, why not make some extra money?
      <span id="lenderAboutText" ui-sref="lenderAbout">click here to find out more!</span>
    </div>

    <div ng-if="!$ctrl.flags.showMap && !$ctrl.flags.loading && $ctrl.items.length" class="md-padding" id="searchPageListContainer">
      <div id="searchPageListItemsGrid">
        <div id="listItemsGridCell" ng-repeat="item in $ctrl.items" ui-sref="item({id: item.id, item: item })">
          <div style="height: 230px;">
            <item-image-gallery image-data="item.imageData"></item-image-gallery>
          </div>
          <div style="margin:10px 3px">
            <div id="itemText" style="margin-bottom: -20px;"><b>
              {{"$" +item.rates['daily']}} &middot;</b> {{item.name}} <b>&middot;</b> {{item.location.address}}
            </div>
            <star-rating ng-if="item.rating" rating="item.rating" readOnly="true" size="'sm'" reviews="2"></star-rating>
          </div>
        </div>
      </div>
      <div style="text-align: center">1 2 3 ... 12</div>
    </div>
  </div>


  <!--  Map Code below -->
  <div flex ng-hide="$ctrl.flags.screenSMoXS && !$ctrl.flags.showMap">
    <div id="searchMap" style="height:100%"></div>
  </div>
</div>


