<div id="footerContainer" ng-if="!$ctrl.flags.hideFooter">

  <div id="footerInnerContainer">
    <h1 style="margin: 10px"><b class="app-name">{{$ctrl.appName}}</b></h1>
    <div id="footerColumnContainer" layout="row" layout-align="space-between" >

      <div id="footerColumnContainerDropDowns" layout="column" layout-xs="row" layout-align-xs="space-around" flex>
        <md-input-container class="footerDropdownFields" aria-label="Dropdown">
          <md-select ng-model="$ctrl.language"  aria-label="Dropdown">
            <md-option value="eng">English</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="footerDropdownFields"  aria-label="Dropdown">
          <md-select ng-model="$ctrl.currency"  aria-label="Dropdown">
            <md-option value="usd">USD</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div class="footerColumnContainer" hide-xs>
        <h4 style="font-weight: 700; margin: 10px; margin-top: 25px;">JettyRent</h4>
        <div style="padding: 0 25px;" layout="column">
          <span style="font-weight: 100;">About</span>
          <span style="font-weight: 100; margin-top: 5px;">Careers</span>
          <span style="font-weight: 100; margin-top: 5px;">Press</span>
          <span style="font-weight: 100; margin-top: 5px;">Policies</span>
          <span style="font-weight: 100; margin-top: 5px;">Help</span>
        </div>
      </div>

      <div class="footerColumnContainer" hide-xs>
        <h4 style="font-weight: 700; margin: 10px; margin-top: 25px;">Discover</h4>
        <div style="padding: 0 25px;" layout="column">
          <span style="font-weight: 100;">Discover</span>
          <span style="font-weight: 100; margin-top: 5px;">Careers</span>
          <span style="font-weight: 100; margin-top: 5px;">Press</span>
          <span style="font-weight: 100; margin-top: 5px;">Policies</span>
          <span style="font-weight: 100; margin-top: 5px;">Help</span>
        </div>
      </div>

      <div class="footerColumnContainer" hide-xs>
        <h4 style="font-weight: 700; margin: 10px; margin-top: 25px;">Borrowers</h4>
        <div style="padding: 0 25px;" layout="column">
          <span style="font-weight: 100;">Rentee's</span>
          <span style="font-weight: 100; margin-top: 5px;">Careers</span>
          <span style="font-weight: 100; margin-top: 5px;">Press</span>
          <span style="font-weight: 100; margin-top: 5px;">Policies</span>
          <span style="font-weight: 100; margin-top: 5px;">Help</span>
        </div>
      </div>
    </div>
  </div>

</div>
