$primary: rgb(83, 182, 140);
$primary-400: #65be98;
$primary-300: #77c5a4;
$primary-200: #89cdb0;
$primary-100: #9bd4bc;

h1,h2,h3{
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}

div{
  outline:none;
}

.app-name{
  font-family: 'Varela Round', sans-serif;
}

.pac-icon{
  display: none;
}

.pac-container{
  text-align: center;

}

.pac-item{
  padding:5px;
  padding-left:10px;

  font-size: 12px;
}

.pac-item-query{
  font-size: 15px;
}
