<div class="md-padding" md-whiteframe="3" layout="column" layout-align="center" id="signUpFormContainer">
  <md-button class="md-icon-button" style="position: absolute;right: 0;; top: 10px;"
             ng-click="$ctrl.closeDialog($event)">
    <ng-md-icon icon="close"></ng-md-icon>
  </md-button>
  <br>
  <h3 style="margin: 0 auto; margin-bottom: 15px; font-size: x-large;text-align: center">{{$ctrl.isNew ? "Sign up Now":
    "Login Here"}}</h3>

  <div style="width: 100%; margin: 0 auto;" layout="row">
    <md-button class="md-raised" style="color: #dd4b39; width: 50%;" ng-click="$ctrl.googleLogin()">
      <ng-md-icon icon="google-plus"></ng-md-icon>
      Google +
    </md-button>

    <md-button class="md-raised" style="color: #4267b2; width: 50%;" ng-click="$ctrl.faceBookLogin()">
      <ng-md-icon icon="facebook"></ng-md-icon>
      Facebook
    </md-button>

  </div>

  <div layout="row" style="margin-top: 15px; margin-bottom: 15px;">
    <hr style="width: 40%; background: black; opacity: .1">
    <span style="font-size: .78571rem; opacity: .4; line-height: 1.63636;">OR</span>
    <hr style="width: 40%; background: black; opacity: .1">
  </div>

  <form ng-if="$ctrl.isNew" name="signupForm" layout="column" layout-align="center center" flex>
    <div layout="row" style="width: 87%">
      <md-input-container style="margin: 0">
        <label>First Name</label>
        <input type="text" ng-model="$ctrl.userObj.firstName" name="firstname" required>
      </md-input-container>
      <md-input-container style="margin: 0">
        <label>Last Name</label>
        <input type="text" name="lastname" ng-model="$ctrl.userObj.lastName" required>
      </md-input-container>
    </div>
    <md-input-container style="width: 87%;margin: 0;">
      <label>Email</label>
      <input type="email" name="email" ng-model="$ctrl.userObj.email" flex required>
    </md-input-container>
    <md-input-container style="width: 87%;margin: 0;">
      <label>Password</label>
      <input type="password" name="password" minlength="6" ng-model="$ctrl.userObj.password" required>
    </md-input-container>
    <md-input-container style="width: 87%;margin: 0;">
      <label>Password Confirmation</label>
      <input type="password" name="passwordConfirm" minlength="6" ng-model="$ctrl.passwordConfirm" required>
    </md-input-container>

    <div layout="row" layout-align="space-around center">
      <md-input-container>
        <label>Month</label>
        <md-select ng-model="$ctrl.userObj.birthday.month" required style="min-width: 95px">
          <md-option value="january" active>January</md-option>
          <md-option value="february">February</md-option>
          <md-option value="march">March</md-option>
          <md-option value="april">April</md-option>
          <md-option value="may">May</md-option>
          <md-option value="june">June</md-option>
          <md-option value="july">July</md-option>
          <md-option value="august">August</md-option>
          <md-option value="september">September</md-option>
          <md-option value="october">October</md-option>
          <md-option value="november">November</md-option>
          <md-option value="december">December</md-option>
        </md-select>
      </md-input-container>
      <md-input-container style="height: 34px; width: 50px;">
        <label>Day</label>
        <input type="number" ng-model="$ctrl.userObj.birthday.day" max="31" required/>
      </md-input-container>
      <md-input-container style="width: 100px;height: 34px;">
        <label>Year</label>
        <input ng-model="$ctrl.userObj.birthday.year" type="number" min="1920" max="1999" required/>
      </md-input-container>
    </div>

    <md-button class="md-primary md-raised"
               ng-disabled="signupForm.$invalid "
               style="width: 50%;" ng-click="$ctrl.emailPassCreate()">Lets go
      <ng-md-icon icon="arrow_forward" style=";"></ng-md-icon>
    </md-button>
    <span style="cursor: pointer;font-size: small;" ng-click="$ctrl.isNew = false">Already have an account?</span>
  </form>

  <form ng-if="!$ctrl.isNew" name="loginform" flex style="text-align: center; width: 100%;margin: 0 auto;">
    <md-input-container style="width: 75%; margin: 0;">
      <input type="text" name="email" ng-model="$ctrl.signInObj.email"/>
      <label>Email</label>
    </md-input-container>
    <br>
    <md-input-container style="width: 75%; margin-top: 0;">
      <input type="password" ng-model="$ctrl.signInObj.password" name="password" required/>
      <label>Password</label>
      <div ng-if="$ctrl.flags.signInError" style="color: rgb(221,44,0); font-size: 14px; margin-top: 37px;">Invalid
        Email or Password
      </div>
    </md-input-container>

    <md-button class="md-primary md-raised" ng-disabled="!$ctrl.signInObj.email || !$ctrl.signInObj.password"
               ng-click="$ctrl.emailPassLogin()"
               style="width: 75%; margin: 0 auto; display: block;">
      Login
      <ng-md-icon icon="arrow_forward"></ng-md-icon>
    </md-button>

    <div layout="row" style="margin-top: 15px; margin-bottom: 15px;">
      <hr style="width: 20%; background: black; opacity: .1; height: 1px;">
      <span style="font-size: .78571rem; opacity: 1; line-height: 1.63636;">Don't have an account Yet?</span>
      <hr style="width: 20%; background: black; opacity: .1; height: 1px;">
    </div>

    <md-button style="background-color:rgba(197, 141, 161, 0.55);color: white;" ng-click="$ctrl.isNew = true">
      Signup here
    </md-button>

  </form>
</div>
