<div class="md-padding" md-whiteframe="3" layout="column" layout-align="center" id="signUpFormContainer"
     style="">
  <h3 style="margin: 0 auto; margin-bottom: 15px; font-size: x-large;">Sign up Now</h3>

  <div style="width: 87%; margin: 0 auto;" layout="row">
    <md-button class="md-raised" style="color: #dd4b39; width: 50%;">
      <ng-md-icon icon="google-plus"></ng-md-icon>
      Google +
    </md-button>

    <md-button class="md-raised" style="color: #3b5998;width: 50%;">
      <ng-md-icon icon="facebook"></ng-md-icon>
      Facebook
    </md-button>
  </div>

  <div layout="row" style="margin-top: 15px; margin-bottom: 15px;">
    <hr style="width: 40%; background: black; opacity: .1">
    <span style="font-size: .78571rem; opacity: .4; line-height: 1.63636;">OR</span>
    <hr style="width: 40%; background: black; opacity: .1">
  </div>

  <form name="signupForm" layout="column" layout-align="center center" flex>
    <div layout="row" style="width: 87%">
      <md-input-container>
        <label>First Name</label>
        <input type="text" name="email">
      </md-input-container>
      <md-input-container>
        <label>Last Name</label>
        <input type="text" name="email">
      </md-input-container>
    </div>
    <md-input-container style="width: 87%;margin: 0;">
      <label>Email</label>
      <input type="email" name="email" flex>
    </md-input-container>
    <md-input-container style="width: 87%;margin: 0;">
      <label>Phone</label>
      <input type="number" name="email">
    </md-input-container>
    <md-input-container style="width: 87%;margin: 0;">
      <label>City</label>
      <input type="text" name="email">
    </md-input-container>
    <md-button class="md-primary md-raised" style="width: 50%;">Lets go
      <ng-md-icon icon="arrow_forward" style=";"></ng-md-icon>
    </md-button>
  </form>

  <div style="width: 87%; margin: 20px auto;text-align: justify;">
    <label>Have an account? <a href="">Log In</a></label>
    <p style="font-size: 10px!important;line-height: 1.6!important;letter-spacing: .02em!important;">By proceeding, I
      agree that jettyRent, its affiliates, and/or representatives may contact me (including by automatic telephone
      dialing system) at the phone number on file with my account, including for marketing purposes. I understand that
      this is not a requirement to use jettyRent's services and that I may opt out of these communications by texting
      "STOP" to 89203. I have also read and understand the Privacy Statement.</p>
  </div>
</div>
