<div class="md-padding" md-whiteframe="3" layout="column" layout-align="center" id="signUpFormContainer">
  <md-button class="md-icon-button" style="position: absolute;right: 0;; top: 10px;" ng-click="$ctrl.closeDialog($event)">
    <ng-md-icon icon="close"></ng-md-icon>
  </md-button>
  <br>
  <h3 style="margin: 0 auto; margin-bottom: 15px; font-size: x-large;text-align: center">{{$ctrl.isNew ? "Sign up Now": "Login Here"}}</h3>

  <div style="width: 100%; margin: 0 auto;" layout="row">
    <md-button class="md-raised" style="color: #dd4b39; width: 50%;" ng-click="$ctrl.googleLogin()">
      <ng-md-icon icon="google-plus"></ng-md-icon>
      Google +
    </md-button>

    <md-button class="md-raised" style="color: #4267b2; width: 50%;" ng-click="$ctrl.faceBookLogin()">
      <ng-md-icon icon="facebook"></ng-md-icon>
      Facebook
    </md-button>

  </div>

  <div layout="row" style="margin-top: 15px; margin-bottom: 15px;">
    <hr style="width: 40%; background: black; opacity: .1">
    <span style="font-size: .78571rem; opacity: .4; line-height: 1.63636;">OR</span>
    <hr style="width: 40%; background: black; opacity: .1">
  </div>

  <form ng-if="$ctrl.isNew" name="signupForm" layout="column" layout-align="center center" flex>
    <div layout="row" style="width: 87%">
      <md-input-container>
        <label>First Name</label>
        <input type="text" name="email">
      </md-input-container>
      <md-input-container>
        <label>Last Name</label>
        <input type="text" name="email">
      </md-input-container>
    </div>
    <md-input-container style="width: 87%;margin: 0;">
      <label>Email</label>
      <input type="email" name="email" flex>
    </md-input-container>
    <md-input-container style="width: 87%;margin: 0;">
      <label>Phone</label>
      <input type="number" name="email">
    </md-input-container>
    <md-input-container style="width: 87%;margin: 0;">
      <label>City</label>
      <input type="text" name="email">
    </md-input-container>
    <md-button class="md-primary md-raised" style="width: 50%;">Lets go
      <ng-md-icon icon="arrow_forward" style=";"></ng-md-icon>
    </md-button>
  </form>

  <form ng-if="!$ctrl.isNew" name="loginForm" flex>
    <md-input-container style="width: 100%">
      <input type="text" name="username"/>
      <label>Username</label>
    </md-input-container>
    <br>
    <md-input-container style="width: 100%">
      <input type="password" name="password"/>
      <label>Password</label>
    </md-input-container>
    <md-button class="md-primary md-raised" style="width: 50%; margin: 0 auto; display: block;">Login
      <ng-md-icon icon="arrow_forward" style=";"></ng-md-icon>
    </md-button>
  </form>
</div>
