
div.md-datepicker-input-container {
  width: 75%;
  margin-left: 0 !important;
}

button.md-button.md-icon-button {
  margin-left: -7px;
}

#mainSearchBar {
  width: 60%;
  margin: 0 auto !important;
  background-color: white;
}

#searchBarText{
    opacity: 07;
}

@media screen and (max-width: 900px) {
  #mainSearchBar {
    width: 70%;
  }

}

@media screen and (max-width: 550px) {
  #mainSearchBar {
    width: 90%;

  }

  #searchBarText{
    font-size:14px;

  }

}





