home-item-search-bar {

  $placeholderSize: 20px;

  // __________ CLasses and Ids below __________

  .searchInputsContainer {
    border-top: rgba(0, 0, 0, 0.13) solid 1px;
    border-bottom: rgba(0, 0, 0, 0.13) solid 1px;
    overflow: hidden;
    border-right: rgba(0, 0, 0, 0.13) solid 1px;
    padding-left: 5px;
  }

  .searchInputs {
    height: 35px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.57);
    width: 100%;
    outline: none;
    text-overflow: ellipsis !important;
    padding-left: 5px;
  }

  .searchInputsContainer:focus {

  }

  #whatSearchContainer {
  }

  #whatSearchContainer:focus {
    min-width: 300px;
    background-color: black;
  }

  #whenSearchContainer {
    //width: 25%;
  }

  #whereSearchContainer {
    //width: 25%;
  }

  // Sets the place holder for inputs in different browsers
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: $placeholderSize;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: $placeholderSize;

  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: $placeholderSize;

  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: $placeholderSize;

  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: $placeholderSize;

  }
}
