<div layout="row" layout-xs="column" style="background-color: white;width: 100%">
  <div flex class="searchInputsContainer" id="whatSearchContainer" layout="row" layout-align="start center">
    <md-icon>
      <ng-md-icon icon="search"></ng-md-icon>
    </md-icon>
    <input type="text" ng-model="$ctrl.searchParams.keyword" class="searchInputs" placeholder="Searching for ..."/>
  </div>
  <div flex class="searchInputsContainer" id="searchInputsContainerCenter whereSearchContainer" layout="row"
       layout-align="start center">
    <md-icon>
      <ng-md-icon icon="location_on"></ng-md-icon>
    </md-icon>
    <input id="locationSearchBar" class="searchInputs" ng-value="$ctrl.searchParams.location.address" type="text"
           placeholder="Anywhere"/>
  </div>
  <div flex class="searchInputsContainer" id="whenSearchContainer" layout="row" layout-align="start center"
       ng-click="$ctrl.showDatePanel($event)">
    <md-icon>
      <ng-md-icon icon="date_range"></ng-md-icon>
    </md-icon>
    <input type="text" class="searchInputs"
           ng-value="$ctrl.searchParams.startDate ? ($ctrl.searchParams.startDate | date) + ' To ' + ($ctrl.searchParams.endDate | date) : ''"
           placeholder="Anytime"/>
  </div>
  <div class="searchInputsContainer" style="background-color: #4AA02C">
    <md-button style="color: white;width: 100%;margin: 0;"
               ui-sref="results({searchParams: $ctrl.searchParams, keyword: $ctrl.searchParams.keyword, address:$ctrl.searchParams.location.address, lat: $ctrl.searchParams.location.lat, lng: $ctrl.searchParams.location.lng , start: $ctrl.searchParams.startDate ,end: $ctrl.searchParams.endDate})">
      Search
    </md-button>
  </div>
</div>
