
#mainHeaderTextContainer {
  width: 50%;
  padding-left: 15% !important;
}

#mainSearchComponent {
  display: block;
  margin-top: 5%;
  position: relative
}

.mainHeaderSubHeader {
  opacity: .7;
  margin-top: 0;
  font-size: 45px !important;
  letter-spacing: -0.8px !important;
  line-height: 56px;
}

#mainImage {
  width: 80%;
  max-height: 600px;
}

#mainHeaderText {
  margin-bottom: 0;
  font-size: 48px !important;
  letter-spacing: -0.8px !important;
  line-height: 56px;
}

#signupComponent {
  position: absolute;
  top: -19%;
  right: 8%;
}

@media screen and (max-width: 1200px) {

  #signupComponent {
    right: 3%;
  }


  .mainHeaderSubHeader {
    font-size: 40px !important;
    line-height: 40px;
  }

  #mainHeaderTextContainer {
    width: 60%;
    padding-left: 7% !important;
  }

}

@media screen and (max-width: 1040px) {

  #signupComponent {
    top: -19%;
  }


}

@media screen and (max-width: 900px) {

  #mainHeaderTextContainer {
    width: 100%;
  }

  #mainHeaderText {
    font-size: 36px !important;
  }

  .mainHeaderSubHeader {
    font-size: 33px !important;
  }

  #mainImage {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {

  #mainHeaderText {
    font-size: 26px !important;
  }

  .mainHeaderSubHeader {
    font-size: 24px !important;
    line-height: 20px;
  }

  #mainHeaderTextContainer {
    width: 100%;
  }

  #mainImage {
    width: 100%;
    max-height: 600px;
  }

  #mainSearchComponent {
    display: block;
    margin-top: -3%;
    position: relative
  }

}
