
#mainHeaderTextContainer {
  width: 50%;
  padding-left: 15% !important;
  padding-right: 80px !important;
}

.mainHeaderSubHeader {
  opacity: .7;
  margin-top: 0;
  font-size: 45px !important;
  letter-spacing: -0.8px !important;
  line-height: 56px;
}

#mainHeaderText {
  margin-bottom: 0;
  font-size: 48px !important;
  letter-spacing: -0.8px !important;
  line-height: 56px;
}

#signupComponent {
  position: absolute;
  top: 6%;
  right: 8%;
}

@media screen and (max-width: 1200px) {

  #signupComponent {
    top: 3%;
  }

  .mainHeaderSubHeader {
    font-size: 40px !important;
    line-height: 40px;
  }

  #mainHeaderTextContainer {
    width: 55%;
    padding-left: 7% !important;
    padding-right: 80px !important;
  }

}

@media screen and (max-width: 900px) {

  #mainHeaderTextContainer {
    width: 100%;
  }

  #mainHeaderText {
    font-size: 36px !important;
  }

  .mainHeaderSubHeader {
    font-size: 33px !important;
  }
}

@media screen and (max-width: 450px) {

  #mainHeaderText {
    font-size: 33px !important;
  }

  .mainHeaderSubHeader {
    font-size: 27px !important;
    line-height: 20px;
  }

  #mainHeaderTextContainer {
    width: 100%;
  }

}
