main {

  #mainHeaderTextContainer {
    color: #fff;
    position: relative;
    z-index: 10;
    top: 20%;
    //left: 20%;
    text-align: center;
  }

  #mainSecondHeaderContainer {
    position: relative;
    height: 500px;
    background-image: url('/assets/images/bikeBeach.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #headerImageTint {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
  }

  #searchBar {
    width: 75%;
    position: absolute;
    bottom: 20%;
    left: 12.5%;
  }

  .mainHeaderSubHeader {
    margin-top: 0;
    font-size: 45px;
    letter-spacing: -0.8px;
    line-height: 56px;
    margin-bottom: 20px;
  }

  #mainImage {
    width: 95%;
  }

  #mainHeaderText {
    margin: 0;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 56px;
    font-weight: 400;
  }

  #signupComponent {
    position: absolute;
    top: -19%;
    right: 8%;
  }

  #carouselOuterContainer {
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
    overflow-y: hidden;
  }

  #carouselTitle {
    margin-left: 4%;
    font-size: 19px;
    font-weight: 500;
  }

  .carouselLeftRightButtons {
    height: 100%;
    margin-right: 10px;
  }

  #carouselItemsContainer {
    overflow-x: auto !important;
    display: inline-flex !important;
    width: 100%;
    margin-bottom: -25px;
    padding-bottom: -25px;
  }

  /* -------------Media Queries Below Ascending order----------------------------*/

  @media screen and (max-width: 1200px) {

    #signupComponent {
      right: 3%;
    }

    .mainHeaderSubHeader {
      font-size: 40px;
      line-height: 40px;
    }
  }

  @media screen and (max-width: 1040px) {

    #signupComponent {
      top: -30%;
    }

  }

  @media screen and (max-width: 900px) {

    #mainHeaderText {
      font-size: 44px;
    }

    .mainHeaderSubHeader {
      font-size: 33px;
    }

    #mainImage {
      width: 90%;
    }
  }

  @media screen and (max-width: 700px) {

    #mainHeaderText {
      font-size: 40px;
    }

    .mainHeaderSubHeader {
      font-size: 30px;
      line-height: 20px;
    }

    #mainImage {
      width: 100%;
      max-height: 600px;
    }

    #searchBar {
      display: block;
      margin-top: -3%;
    }

    #mainSecondHeaderContainer {
      margin-bottom: 50px;
    }

    #carouselOuterContainer {
      margin-top: 10px;
      margin-right: 8%;
      margin-left: 8%;
    }

  }

  @media screen and (max-width: 600px) {

    #mainSecondHeaderContainer {
      height: 400px;
    }

    #mainHeaderText {
      font-size: 35px;
      line-height: 35px;
    }

    #mainHeaderTextContainer {
      top: 15%;
    }

    .mainHeaderSubHeader {
      font-size: 25px;
      line-height: 25px;
    }

    #carouselOuterContainer {
      margin: 30px 0 0 0;
    }

    .itemCarouselTemplate:first-child {
      margin-left: 20px;
    }

    #searchBar {
      width:100%;
      left: 0;
    }

    }

  @media screen and (max-width: 500px) {
    #mainHeaderText {
      font-size: 20px;
    }

    .mainHeaderSubHeader {
      font-size: 20px;
      line-height: 15px;
    }

  }

}
