<div id="itemPageGalleryImageContainer" ng-style="$ctrl.activeImage" md-swipe-right="$ctrl.nextImage(true)"
     md-swipe-left="$ctrl.nextImage(false)">
  <span
    style="color: white;position: absolute;right: 9%;top: 1%;font-size: small; background: rgba(0, 0, 0, 0.43); padding: 10px; border-radius: 20px;">{{$ctrl.imageIndex + 1}} of {{ $ctrl.images.length }}</span>
  <div layout="row" layout-align="space-between center" style="height: 100%;">
    <md-button ng-if="$ctrl.images.length > 1" aria-label="left button" class="itemImageGalleryButtons"
               ng-click="$ctrl.nextImage(false)">
      <ng-md-icon class="itemImageGalleryIcons" icon="keyboard_arrow_left" size="64"></ng-md-icon>
    </md-button>
    <md-button ng-if="$ctrl.images.length > 1" class="itemImageGalleryButtons" aria-label="Right button"
               ng-click="$ctrl.nextImage(true)">
      <ng-md-icon icon="keyboard_arrow_right" size="64" class="itemImageGalleryIcons" style=""></ng-md-icon>
    </md-button>
  </div>
  <div layout="row"
       style="width: 100%; height: 50px; position: absolute; bottom: 11%; background: rgba(0, 0, 0, 0.81);padding-left: 20px;padding-right: 20px;">
    <md-button class="md-icon-button">
      <ng-md-icon icon="delete" md-colors="{color: 'warn'}" size="30"></ng-md-icon>
    </md-button>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="$ctrl.setMainImage()">
      <ng-md-icon ng-if="$ctrl.imageIndex !== 0" icon="star_border" md-colors="{color: 'yellow'}"
                  size="30"></ng-md-icon>
      <ng-md-icon ng-if="$ctrl.imageIndex === 0" icon="star" md-colors="{color: 'yellow'}" size="30"></ng-md-icon>
    </md-button>
  </div>
</div>

