<div md-whiteframe="3" style="width: 350px; position: fixed; bottom: 0; right: 2%;border-radius: 15px; z-index: 5;">
  <md-toolbar ng-click="$ctrl.bsActive = true" layout="row" layout-align="start center" class="md-theme-light" id="toolbar">
    <span style="padding-left: 20px;">Brennan B.</span>
    <span flex></span>
    <md-button class="md-icon-button">
      <ng-md-icon icon="cancel"></ng-md-icon>
    </md-button>
  </md-toolbar>
  <div style="background-color: white; height: 400px;" class="bottomSheetContent" ng-class="{bottomSheetContentActive: $ctrl.bsActive}">
    <messaging-container></messaging-container>
  </div>
</div>
<div ng-if="$ctrl.bsActive" ng-click="$ctrl.bsActive = false" style="background: transparent; position: fixed; height: 100vh; width: 150vh; bottom: 0;">

</div>
