messaging-bottom-sheet {

  #bottomSheetContainer {
    width: 350px;
    position: fixed;
    bottom: 0;
    right: 2%;
    border-radius: 15px;
    z-index: 50;
  }


  .bottomSheetContent {
    height: 0;
    transition: height .2s ease;

  }

  .bottomSheetContentActive {
    height: 400px;

    transition: height .2s ease;
  }

  #toolbar {
    outline: none;
    cursor: pointer;
    height: 40px;
    min-height: 1px;
    padding: 4px;
    text-align: left;
  }


  @media screen and (max-width: 380px) {
    #bottomSheetContainer {
      width:100%;
      right: 0;
      height:100%;
    }


  }







  }
