#carouselOuterContainer {
  margin-top: 30px;
  margin-right: 10%;
  margin-left: 10%;
  overflow-y: hidden;
}

#carouselTitle {
  margin-left: 4%;
  font-size: 19px;
  font-weight: 500;
}

#carouselCoreContainer {
}

.carouselLeftRightButtons {
  height: 100%;
  margin-right: 10px;
}

#carouselItemsContainer {
  overflow-x: auto !important;
  display: inline-flex !important;
  width: 100%;
  margin-bottom: -25px;
  padding-bottom: -25px;
}


/* -------------Media Queries Below Ascending order----------------------------*/

@media screen and (max-width: 700px) {
  #carouselOuterContainer {
    margin-top: 10px;
    margin-right: 8%;
    margin-left: 8%;
  }
}

@media screen and (max-width: 550px) {
  #carouselOuterContainer {
    margin-top: 5px;
    margin-right: 5%;
    margin-left: 5%;

  }
}
