listing-edit-page {

  #editImageGallery {
    height: 550px;
    background-color: rgba(0, 0, 0, 0.14);
  }

  .fieldHeaderContainer {
    width: 120px;
    text-align: right;
    margin: 0 20px;
  }

  .fieldHeader {
    font-size: 15px;
    color: rgba(27, 72, 72, 1);
  }

  .fieldInputs {
    height: 35px;
    padding-left: 15px
  }

  .fieldInputMdContainer {
    margin: 0;
    margin-top: 15px;
  }

  .sectionContainer {
    margin-bottom: 20px;
    height: 70px;
  }

  #itemDescription {
    padding-left: 15px;
    border: rgba(0, 0, 0, 0.12) solid 1px;
  }

  @media screen and (max-width: 700px) {

    #editImageGallery {
      height: 400px;
    }

    .fieldHeader {
      font-size: 13px;
      color: rgba(27, 72, 72, 1);
    }

  }

  @media screen and (max-width: 700px) {
    .fieldHeaderContainer {
      width: 76px;
    }
  }

  @media screen and (max-width: 600px) {
    .fieldInputMdContainer {
      width: 100%;
      text-align: left;
    }

    .fieldHeaderContainer {
      width: 100%;
      text-align: left;
    }

    .fieldHeader {
      font-size: 20px;
      padding-left: 15px;
    }

    .sectionContainer {
      height: auto;
      margin: 30px;
    }

    #pricingContainer {
      width: 90%;
      margin-left: 7%;
    }

    #itemDescription {
      width: 90%;
      margin: 20px auto 0;
    }

  }

  @media screen and (max-width: 500px) {

    #editImageGallery {
      height: 300px;
    }

  }
  @media screen and (max-width: 400px) {

    #editImageGallery {
    }

  }
}

