#itemCarouselContainer{
  margin-bottom: 30px;
  cursor: pointer;
}

#imageHeight {
  height: 200px;
  width: 250px;
  margin: 5px;
  text-align: center;
  background-size: cover !important;
  background: no-repeat center;
}


#itemCarouselDescription {
  margin: 0;
  font-weight: 100;
  font-size: 15px;
  word-wrap: break-word;
}

@media screen and (max-width: 700px) {
  #imageHeight {
    height: 160px;
    width: 160px;
  }
}

@media screen and (max-width: 550px) {
  #imageHeight {
    height: 120px;
    width: 120px;
  }
}
