profile {

  .activeTab {
    background-color: rgba(197, 141, 161, 0.2);
  }

  #profileMenu {
    width: 30%;
  }

  #searchPageToolbar {
    background-color: white;
    padding-bottom: 0;
    color: #000;
    border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
    cursor: pointer;
    background-color: white;
    z-index: 5;
    display: none;
  }


  @media screen and (max-width: 650px) {

    #profileMenu {
      display: none;
    }

    #searchPageToolbar {
      display: block;
    }

    }



  }
