<section class="md-padding">

  <div layout="row" style="width: 80%; margin: 0 auto;">
   <div style="width: 25%;">
    <md-list style="padding:0;border: rgba(0, 0, 0, 0.12) 1px solid; margin-right: 5%;">
      <md-list-item ng-class="{'activeTab': $ctrl.activeState.state == state.state}"
                    ng-click="$ctrl.goTo(state)" ng-repeat="state in $ctrl.profileStates">
        {{state.label}}
        <md-divider></md-divider>
      </md-list-item>
    </md-list>

   </div>
    <div flex style="border:rgba(0, 0, 0, 0.12) 1px solid">
      <md-toolbar style="min-height: 1px; height: 50px;background-color: #edefed; color: #000;border-bottom:rgba(0, 0, 0, 0.12) 1px solid";">
        <span style="margin: auto 5%;color:rgba(0, 0, 0, 0.7); font-weight: 100;">Header</span>
      </md-toolbar>
      <div class="md-padding">
          <div ui-view></div>
      </div>
    </div>
  </div>

</section>
