<div>
  <div id="itemPageGalleryImageContainer" style="background-image: url('assets/images/lawnmower.jpg');">
    <div layout="row" layout-align="space-between center" style="height: 100%;">
      <md-button style="height: 100%; color: white;">
        <ng-md-icon style="margin-left: -66px;" icon="keyboard_arrow_left" size="82"></ng-md-icon>
      </md-button>
      <md-button style="height: 100%;color: white; text-align: left;">
        <ng-md-icon icon="keyboard_arrow_right" size="82"></ng-md-icon>
      </md-button>
    </div>
  </div>
</div>
