#itemPageGalleryImageContainer {
  height: 550px;
  overflow: hidden;
  text-align: center;
  background-size: cover !important;
  background: no-repeat center;
}



@media screen and (max-width: 650px) {

  #itemPageGalleryImageContainer {
    height: 450px;
  }

}

@media screen and (max-width: 450px) {

  #itemPageGalleryImageContainer {
    height: 350px;
  }

}
