<div>
  <form name="requiredProfileInfo">

    <div style="text-align: center;">
      <div style="height: 200px;">
        <img style=" border-radius: 100px; border: solid 1px rgba(0, 0, 0, 0.12);  height: 200px;margin-right: 15px;" ng-if="$ctrl.showImage"
             ng-src="{{$ctrl.userObj.photoURL || 'assets/images/defaultPerson.png'}}"/>
        <md-progress-circular style="position: absolute;left: 57%;top: 25%;" ng-if="!$ctrl.showImage" md-mode="indeterminate"></md-progress-circular>
      </div>
      <br>
      <div style="width: 100%;">
      <input style="margin: 0 auto;" type="file" file-input="$ctrl.onImageLoaded"/>
      </div>
    </div>
    <md-divider style="margin-bottom: 20px;"></md-divider>

    <div layout="row" layout-align="start center" style="margin-bottom: 20px; height: 70px;">
      <div class="fieldHeaderContainer">
        <label class="fieldHeader" style="">First Name: </label>
      </div>
      <md-input-container md-no-float="true" flex>
        <input style="height: 35px;padding-left:15px" type="text" required
               placeholder="ex. Taylor, Daniel, Jill, Justin"
               flex ng-model="$ctrl.userObj.firstName"/>
      </md-input-container>
    </div>

    <div layout="row" layout-align="start center" style="margin-bottom: 20px; height: 70px;">
      <div class="fieldHeaderContainer">
        <label class="fieldHeader">Last Name: </label>
      </div>
      <md-input-container md-no-float="true" flex>
        <input style="height: 35px;padding-left:15px" type="text" required placeholder="ex. Byarm, Lamar, Cortese"
               flex ng-model="$ctrl.userObj.lastName"/>
      </md-input-container>
    </div>

    <div layout="row" layout-align="start center" style="height: 76px;">
      <div class="fieldHeaderContainer">
        <label class="fieldHeader">I Am A: </label>
      </div>
      <md-select ng-model="$ctrl.userObj.gender" placeholder="gender">
        <md-option value="female">Female</md-option>
        <md-option value="male">Male</md-option>
        <md-option value="other">Other</md-option>
      </md-select>
    </div>


    <div layout="row" layout-align="start center" style="height: 76px;">
      <div class="fieldHeaderContainer">
        <label class="fieldHeader">Birth Date is: </label>
      </div>
      <div layout="row" layout-align="space-around center">
        <md-input-container>
          <md-select ng-model="$ctrl.userObj.birthday.month" placeholder="Month" required style="min-width: 110px">
            <md-option value="january" active>January</md-option>
            <md-option value="february">February</md-option>
            <md-option value="march">March</md-option>
            <md-option value="april">April</md-option>
            <md-option value="may">May</md-option>
            <md-option value="june">June</md-option>
            <md-option value="july">July</md-option>
            <md-option value="august">August</md-option>
            <md-option value="september">September</md-option>
            <md-option value="october">October</md-option>
            <md-option value="november">November</md-option>
            <md-option value="december">December</md-option>
          </md-select>
        </md-input-container>
        <md-input-container md-no-float="true" style="height: 34px; width: 50px;">
          <input type="number" placeholder="day" ng-model="$ctrl.userObj.birthday.day" max="31" required/>
        </md-input-container>
        <md-input-container md-no-float="true" style="width: 100px;height: 34px;">
          <input ng-model="$ctrl.userObj.birthday.year" placeholder="year" type="number" min="1920" max="1999"
                 required/>
        </md-input-container>
      </div>
    </div>


    <div layout="row" layout-align="start center" style="margin-bottom: 20px; height: 70px;">
      <div class="fieldHeaderContainer">
        <label class="fieldHeader">Email: </label>
      </div>
      <md-input-container md-no-float="true" flex>
        <input style="height: 35px;padding-left:15px" type="email" required placeholder="xy@domain.com" flex
               ng-model="$ctrl.userObj.email"/>
      </md-input-container>
    </div>

    <div layout="row" layout-align="start center" style="margin-bottom: 20px; height: 70px;">
      <div class="fieldHeaderContainer">
        <label class="fieldHeader">Phone Number: </label>
      </div>
      <md-input-container md-no-float="true" flex>
        <input style="height: 35px;padding-left:15px" type="number" required placeholder="xxx-xxx-xxxx" flex
               ng-model="$ctrl.userObj.phoneNumber"/>
      </md-input-container>
    </div>

    <div layout="row" layout-align="start center" style="margin-bottom: 20px; height: 70px;">
      <div class="fieldHeaderContainer">
        <label class="fieldHeader">Your City: </label>
      </div>
      <md-input-container md-no-float="true" flex>
        <input style="height: 35px;padding-left:15px" type="text" required
               placeholder="e.g.NYC, Barcelona, San Francisco, CA" ng-model="$ctrl.userObj.address" flex/>
      </md-input-container>
    </div>

    <div layout="row" layout-xs="column" layout-align="start start" style="">
      <div class="fieldHeaderContainer">
        <label class="fieldHeader">Describe Yourself: </label>
      </div>
      <textarea style="padding-left:15px; width: 100%; border: solid rgba(0, 0, 0, 0.13) 1px" flex rows="10" ng-model="$ctrl.userObj.bio"></textarea>
    </div>

  </form>


</div>
