.stickyForm {
  position: fixed;
  top: 16%;
  margin-top: -50px;

}

.stuckFormBottom {
  position: relative;
  top: 78%;
  margin-top: -50px;

}

.stuckFormTop {
  text-align: center;
  margin-top: -50px;
  width: 300px;
}

.mainRentalForm {
  margin-bottom: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  border-top: 8px solid #f1f1f1 !important;

}

#rentalFormFlagButton {
  opacity: .6;
  font-size: smaller;
  cursor: pointer;
}

#rentalFormFlagButton:hover {
  color: rgb(255, 0, 0);
}

.featuresMenuGrid {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 16px;
  width:100%;
  margin-left: 40px;
}

.featuresMenuCell {
  width: 48%;
  max-width: 48%;
  height: 50px;
  text-align: left;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 5px;
  margin-right: 2px;
  color: rgba(0, 0, 0, 0.57);
}

.itemsPageSectionContainer{

}
