<div style="background-color: white;position: relative;" ng-cloak>
  <item-page-image-gallery images="$ctrl.item.imageUrls"></item-page-image-gallery>
  <div layout="row" class="itemsPageContentContainer">
    <div flex="70" flex-xs="100" flex-sm="100">

      <!--Heading-->
      <div layout="column" layout-align="center center" class="md-padding"
           style="border-bottom: rgba(0, 0, 0, 0.2) 1px solid;">
        <h1
          style="font-size: 40px !important; text-align: center;margin:0; line-height: 42px !important;font-weight: 700; opacity: .54;">
          Lawnmower
        </h1>
        <star-rating rating="'1'" read-only="true" size="'md'" reviews="5"
                     style="margin-top: -10px;margin-bottom: 10px;"></star-rating>
        <label>Forked River, NJ 08731</label>
      </div>

      <!-- Rent Form below - mobile/tablet screen -->
      <div class="itemPageFormContainerMobileScreen" style="border-bottom: rgba(0, 0, 0, 0.2) 1px solid;">
        <div class="md-padding" class="itemPageFormInnerContainerMobileScreen" style="">
          <div layout="row" layout-align="center end" style="margin-bottom: 10px;">
            <h1 style="margin: 0;">$30</h1>
            <span style="margin-left: 5px;"><em> per Day</em></span>
          </div>
          <div layout="row">
            <form flex="50" layout="column">
              <md-input-container style="margin-bottom: 0; text-align: left">
                <label style="">Start Date</label>
                <md-datepicker ng-model="$ctrl.rentalForm.startDate" ng-change="$ctrl.calculateTotal()"
                               md-open-on-focus md-min-date="$ctrl.minDate" flex></md-datepicker>
              </md-input-container>
              <md-input-container style="margin: 0; text-align: left">
                <label style="">End Date</label>
                <md-datepicker ng-disabled="!$ctrl.rentalForm.startDate" ng-model="$ctrl.rentalForm.endDate"
                               ng-change="$ctrl.calculateTotal()" md-open-on-focus flex
                               md-min-date="$ctrl.rentalForm.startDate"></md-datepicker>
              </md-input-container>
              <md-input-container style="width:80px; text-align: left; margin: 0 auto"
                                  ng-if="$ctrl.rentalForm.startDate === $ctrl.rentalForm.endDate && $ctrl.rentalForm.startDate !== ''">
                <label>Hours</label>
                <input type="number" ng-model="$ctrl.rentalForm.hours" ng-change="$ctrl.calculateTotal()" min="1"/>
              </md-input-container>
            </form>
            <div flex="50" style="text-align: center">
              <div layout="column" style="margin: 10px 0">
                <div style="text-align: center" layout="column" flex>
                  <label style="font-size: larger;">Total</label>
                  <em id="textTotal">${{$ctrl.rentalForm.totalPrice}}</em>
                </div>

                <ul style="list-style-type: none;padding-left: 20px;margin:0" flex="40">
                  <li ng-repeat="(key, value) in $ctrl.item.price" style="width:130px;font-size: large; text-align: left">
                    ${{value+''}}<em style="font-size: smaller">per {{key}}</em>
                  </li>
                </ul>

              </div>
              <md-button class="md-raised" ng-click="$ctrl.button()"
                         style="background: rgba(91, 191, 73, 0.63); color: rgba(0, 0, 0, 0.58);max-width: 200px;" flex>Rent this
                item
              </md-button>
              <div style="color: rgba(93, 93, 93, 0.74); margin-top: 8px;font-size: 13px;">You won't be charged yet</div>
<!--
              <span style="" class="rentalFormFlagButton">
        <ng-md-icon icon="flag"></ng-md-icon>
        Flag this Rental
        </span>
-->
            </div>
          </div>
        </div>
      </div>

      <!-- Description-->
      <div layout="row" layout-xs="column" class="md-padding">
        <div flex>
          <h4 class="sectionTitle">Description</h4>
        </div>
        <div class="sectionContent">
          <p class="sectionContentText" >Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores<br><br>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores<br><br>
          </p>
        </div>
      </div>

      <!-- Additional Features -->
      <div layout="row" layout-xs="column" class="md-padding">
        <div flex>
          <h4 class="sectionTitle">Features</h4>
        </div>
        <div class="sectionContent">
          <!--<ul style="opacity: .87; font-size: 17px;font-weight: 100;">-->
          <div class="featuresMenuGrid sectionContentText">
            <span class="featuresMenuCell"><ng-md-icon icon="directions_car"></ng-md-icon>Will drop off/ pick up</span>
            <span class="featuresMenuCell"><ng-md-icon icon="directions_car"></ng-md-icon>Feature 2</span>
            <span class="featuresMenuCell"><ng-md-icon icon="directions_car"></ng-md-icon> feature 3</span>
            <span class="featuresMenuCell"><ng-md-icon icon="directions_car"></ng-md-icon> feature 4</span>
            <span class="featuresMenuCell"><ng-md-icon icon="directions_car"></ng-md-icon> feature 5</span>
          </div>
        </div>
      </div>

      <!-- Reviews -->
      <div layout="row" layout-xs="column" class="md-padding">
        <div flex>
          <h4 class="sectionTitle">Reviews</h4>
        </div>
        <div class="sectionContent">
          <review class="sectionContentText" ng-repeat="r in [0,1,2,3]"></review>
        </div>
      </div>

      <!-- The Owner -->
      <div layout="row" layout-xs="column" class="md-padding">
        <div flex>
          <h4 class="sectionTitle">The Owner</h4>
        </div>
        <div class="sectionContent">
          <div layout="column" layout-align="center center">
            <div flex layout="row" layout-align="center center" style="">
              <img style=" border-radius: 40px;  height: 80px;margin-right: 15px;"
                   src="assets/images/defaultPerson.png"/>
              <h2 style="font-size: 22px !important; text-align: center; line-height: 22px !important;">Brennan
                Batalla</h2>
            </div>
            <star-rating rating="'4.5'" read-only="true" size="'lg'" reviews="9"
                         style="margin-top: -10px;margin-bottom: 10px;"></star-rating>
          </div>
          <br>
          <p class="sectionContentText">Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
            quia<span style="color: rgb(130, 95, 108);">...read more</span></p>
          <div layout="row">
            <span flex></span>
            <md-button class="ng-md-icon md-fab md-primary md-mini">
              <ng-md-icon icon="message"></ng-md-icon>
            </md-button>
            <div layout="column" layout-align="center start">
              <label>Response Rate: 98%</label>
              <label>Response Time: 3 Hours</label>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- Rent Form below - wide screen -->
    <div class="itemPageFormContainerWideScreen" flex="40">
      <div class="md-padding stuckFormTop"
           ng-class="{'stickyForm': $ctrl.dynamicStyleClass.stickyForm,'stuckFormBottom': $ctrl.dynamicStyleClass.stuckFormBottom}">
        <div md-whiteframe="2" class="mainRentalForm md-padding"
             style="">
          <div layout="row" layout-align="center end" style="margin-bottom: 10px;">
            <h1 style="margin: 0;">$30</h1>
            <span style="margin-left: 5px;"><em> per Day</em></span>
          </div>
          <md-divider></md-divider>
          <form layout="column">
            <md-input-container style="margin-bottom: 0; text-align: left">
              <label style="">Start Date</label>
              <md-datepicker ng-model="$ctrl.rentalForm.startDate" ng-change="$ctrl.calculateTotal()"
                             md-open-on-focus md-min-date="$ctrl.minDate" flex></md-datepicker>
            </md-input-container>
            <md-input-container style="margin: 0; text-align: left">
              <label style="">End Date</label>
              <md-datepicker ng-disabled="!$ctrl.rentalForm.startDate" ng-model="$ctrl.rentalForm.endDate"
                             ng-change="$ctrl.calculateTotal()" md-open-on-focus flex
                             md-min-date="$ctrl.rentalForm.startDate"></md-datepicker>
            </md-input-container>
            <md-input-container style="width:80px; text-align: left; margin: 0 auto"
                                ng-if="$ctrl.rentalForm.startDate === $ctrl.rentalForm.endDate && $ctrl.rentalForm.startDate !== ''">
              <label>Hours</label>
              <input type="number" ng-model="$ctrl.rentalForm.hours" ng-change="$ctrl.calculateTotal()" min="1"/>
            </md-input-container>
          </form>
          <md-divider></md-divider>
          <div layout="row" style="margin: 10px 0">
            <ul style="list-style-type: none;padding-left: 15px;margin:0" flex="40">
              <li ng-repeat="(key, value) in $ctrl.item.price" style="width:130px; text-align: left">${{value+ ' '}}<em
                style="font-size: smaller">per {{key}}</em>
              </li>
            </ul>
            <div style="text-align: center" layout="column" flex>
              <label style="font-size: larger;">total</label>
              <em style="font-size: 2.5em;">${{$ctrl.rentalForm.totalPrice}}</em>
            </div>
          </div>
          <md-divider></md-divider>
          <md-button class="md-raised" ng-click="$ctrl.button()"
                     style="background: rgba(91, 191, 73, 0.63); color: rgba(0, 0, 0, 0.58);width: 80%;">Rent this item
          </md-button>
          <div style="color: rgba(93, 93, 93, 0.74); margin-top: 8px;font-size: 13px;">You won't be charged yet</div>
        </div>
        <span style="" class="rentalFormFlagButton">
        <ng-md-icon icon="flag"></ng-md-icon>
        Flag this Rental
        </span>
      </div>
    </div>
  </div>

  <div>
    <div style="height: 400px; width: 100%;" id="map"></div>
    <div
      style="height: 400px; width: 100%;  background-color: transparent; position: absolute;z-index: 5; bottom: 0%;"></div>
  </div>

</div>
