<div ng-if="$ctrl.item.id" style="background-color: white;position: relative;" ng-cloak>
  <div id="galleryContainer">
    <item-image-gallery image-data="$ctrl.item.imageData" edit-mode="false"></item-image-gallery>
  </div>
  <div layout="row" class="itemsPageContentContainer">
    <div flex="70" flex-xs="100" flex-sm="100">

      <!--Heading-->
      <div layout="column" layout-align="center center" class="md-padding"
           style="border-bottom: rgba(0, 0, 0, 0.2) 1px solid;">
        <h1
          style="font-size: 40px !important; text-align: center;margin:0; line-height: 42px !important;font-weight: 700; opacity: .54;">
          {{$ctrl.item.name}}
        </h1>

        <star-rating rating="'1'" read-only="true" size="'md'" reviews="5"
                     style="margin: 20px auto;"></star-rating>
        <label>{{$ctrl.item.location.address}}</label>
      </div>

      <!-- Rent Form below - mobile/tablet screen -->
      <div class="itemPageFormContainerMobileScreen" style="border-bottom: rgba(0, 0, 0, 0.2) 1px solid;">
        <div class="md-padding" class="itemPageFormInnerContainerMobileScreen" style="">
          <div layout="row" layout-align="center end" style="margin-bottom: 10px;">
            <h1 style="margin: 0;">{{'$'+$ctrl.item.rates.daily}}</h1>
            <span style="margin-left: 5px;"><em> per Day</em></span>
          </div>
          <div>
            <form flex layout="row">
              <md-input-container layout="row" flex md-no-float
                                  layout-align="start center" style="margin-top: 0;"
                                  ng-click="$ctrl.showDatePanel($event)">
                <md-icon>
                  <ng-md-icon icon="date_range"></ng-md-icon>
                </md-icon>
                <input type="text" class="searchInputs" style="text-overflow: ellipsis;"
                       ng-value="$ctrl.rentalForm.startDate ? ($ctrl.rentalForm.startDate | date) + ' To ' + ($ctrl.rentalForm.endDate | date) : ''"
                       placeholder="Start Date - End Date"/>
              </md-input-container>
              <md-input-container style="width:80px; text-align: left; margin: 0 auto"
                                  ng-if="$ctrl.rentalForm.startDate === $ctrl.rentalForm.endDate && $ctrl.rentalForm.startDate !== ''">
                <label>Hours</label>
                <input type="number" ng-model="$ctrl.rentalForm.hours" ng-change="$ctrl.calculateTotal()" min="1"/>
              </md-input-container>
            </form>
            <div layout="row" flex>

              <div style="text-align: center">
                <div layout="column" style="margin: 10px 0">
                  <ul style="list-style-type: none;padding-left: 20px;margin:0" flex>
                    <li ng-repeat="(key, value) in $ctrl.item.rates" ng-if="key !== 'currency'"
                        style="width:130px;font-size: large; text-align: left">
                      ${{value+' '}}<em style="font-size: smaller">per {{key}}</em>
                    </li>
                  </ul>
                </div>
              </div>

              <div style="text-align: center" layout="column" flex>
                <label style="font-size: larger;">Total</label>
                <em id="textTotal">${{$ctrl.rentalForm.totalPrice}}</em>
              </div>

            </div>
            <div>
              <md-button class="md-raised" ng-click="$ctrl.button()"
                         style="background: rgba(91, 191, 73, 0.63); color: rgba(0, 0, 0, 0.58);width: 100%; margin: 0 auto;">
                Rent this item
              </md-button>
              <div style="color: rgba(93, 93, 93, 0.74); margin-top: 8px;font-size: 13px;text-align: center">You won't be charged yet
              </div>
              <!--
                            <span style="" class="rentalFormFlagButton">
                      <ng-md-icon icon="flag"></ng-md-icon>
                      Flag this Rental
                      </span>
              -->
            </div>
          </div>
        </div>
      </div>

      <!-- Description-->
      <div layout="row" layout-xs="column" class="md-padding">
        <div flex>
          <h4 class="sectionTitle">Description</h4>
        </div>
        <div class="sectionContent">
          <p class="sectionContentText">
            {{$ctrl.item.description}}
            <br><br>
          </p>
        </div>
      </div>

      <!-- Pickup/Drop Off-->
      <div layout="row" layout-xs="column" class="md-padding">
        <div flex>
          <h4 class="sectionTitle">Pickup Instructions</h4>
        </div>
        <div class="sectionContent">
          <p class="sectionContentText">
            {{$ctrl.item.pickupInstructions}}
            <br><br>
          </p>
        </div>
      </div>

      <!-- Additional Features -->
      <div ng-if="false" layout="row" layout-xs="column" class="md-padding">
        <div flex>
          <h4 class="sectionTitle">Features</h4>
        </div>
        <div class="sectionContent">
          <!--<ul style="opacity: .87; font-size: 17px;font-weight: 100;">-->
          <div class="featuresMenuGrid sectionContentText">
            <span class="featuresMenuCell"><ng-md-icon icon="directions_car"></ng-md-icon>Will drop off/ pick up</span>
            <span class="featuresMenuCell"><ng-md-icon icon="directions_car"></ng-md-icon>Feature 2</span>
            <span class="featuresMenuCell"><ng-md-icon icon="directions_car"></ng-md-icon> feature 3</span>
            <span class="featuresMenuCell"><ng-md-icon icon="directions_car"></ng-md-icon> feature 4</span>
            <span class="featuresMenuCell"><ng-md-icon icon="directions_car"></ng-md-icon> feature 5</span>
          </div>
        </div>
      </div>

      <!-- Reviews -->
      <div layout="row" layout-xs="column" class="md-padding">
        <div flex>
          <h4 class="sectionTitle">Reviews</h4>
        </div>
        <div class="sectionContent">
          <review class="sectionContentText" ng-repeat="r in [0,1,2,3]"></review>
        </div>
      </div>

      <!-- The Owner -->
      <div layout="row" layout-xs="column" class="md-padding">
        <div flex>
          <h4 class="sectionTitle">The Owner</h4>
        </div>
        <div class="sectionContent">
          <div layout="column" layout-align="center center">
            <div flex layout="row" layout-align="center center" style="">
              <img style="cursor: pointer; border-radius: 40px;  height: 80px;margin-right: 15px;"
                   ng-src="{{$ctrl.item.owner.photoURL}}" ui-sref="userProfile({id:$ctrl.item.owner.uid})"/>
              <h2 style="font-size: 22px !important; text-align: center; line-height: 22px !important;">
                {{$ctrl.item.owner.firstName + ' ' + $ctrl.item.owner.lastName[0]+'.'}}</h2>
            </div>
            <star-rating rating="'4.5'" read-only="true" size="'lg'" reviews="9"
                         style="margin-top: 10px;margin-bottom: 10px;"></star-rating>
          </div>
          <br>
          <p class="sectionContentText">
            {{$ctrl.item.owner.bio}}
            <span style="color: rgb(130, 95, 108);">...read more</span></p>
          <div layout="row">
            <span flex></span>
            <md-button ng-if="$ctrl.userObj.uid !== $ctrl.item.owner.uid" class="ng-md-icon md-fab md-primary md-mini"
                       ng-click="$ctrl.messageOwner()">
              <ng-md-icon icon="message"></ng-md-icon>
            </md-button>
            <div layout="column" layout-align="center start">
              <label>Response Rate: 98%</label>
              <label>Response Time: 3 Hours</label>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Rent Form below - wide screen -->
    <div class="itemPageFormContainerWideScreen" flex="40">
      <div class="md-padding stuckFormTop"
           ng-class="{'stickyForm': $ctrl.dynamicStyleClass.stickyForm,'stuckFormBottom': $ctrl.dynamicStyleClass.stuckFormBottom}">
        <div md-whiteframe="2" class="mainRentalForm md-padding"
             style="">
          <div layout="row" layout-align="center end" style="margin-bottom: 10px;">
            <h1 style="margin: 0;">{{'$'+$ctrl.item.rates.daily}}</h1>
            <span style="margin-left: 5px;"><em> per Day</em></span>
          </div>
          <md-divider></md-divider>
          <form layout="column">
            <md-input-container flex layout="row"
                                layout-align="start center"
                                ng-click="$ctrl.showDatePanel($event)">
              <md-icon>
                <ng-md-icon icon="date_range"></ng-md-icon>
              </md-icon>
              <input type="text" class="searchInputs"
                     ng-value="$ctrl.rentalForm.startDate ? ($ctrl.rentalForm.startDate | date) + ' To ' + ($ctrl.rentalForm.endDate | date) : ''"
                     placeholder="Start Date - End Date"/>
            </md-input-container>
            <md-input-container style="width:80px; text-align: left; margin: 0 auto"
                                ng-if="$ctrl.rentalForm.startDate === $ctrl.rentalForm.endDate && $ctrl.rentalForm.startDate !== ''">
              <label>Hours</label>
              <input type="number" ng-model="$ctrl.rentalForm.hours" ng-change="$ctrl.calculateTotal()" min="1"/>
            </md-input-container>
          </form>
          <md-divider></md-divider>
          <div layout="row" style="margin: 10px 0">
            <ul style="list-style-type: none;padding-left: 15px;margin:0" flex="40">
              <li ng-repeat="(key, value) in $ctrl.item.rates" ng-if="key !== 'currency'"
                  style="width:130px; text-align: left">
                ${{value+ ' '}}<em style="font-size: smaller">per {{key}}</em>
              </li>
            </ul>
            <div style="text-align: center" layout="column" flex>
              <label style="font-size: larger;">Total</label>
              <em style="font-size: 2.5em;">${{$ctrl.rentalForm.totalPrice}}</em>
            </div>
          </div>
          <md-divider></md-divider>
          <md-button class="md-raised" ng-click="$ctrl.button()"
                     style="background: rgba(91, 191, 73, 0.63); color: rgba(0, 0, 0, 0.58);width: 80%;">Rent this item
          </md-button>
          <div style="color: rgba(93, 93, 93, 0.74); margin-top: 8px;font-size: 13px;">You won't be charged yet</div>
        </div>
        <span style="" class="rentalFormFlagButton">
        <ng-md-icon icon="flag"></ng-md-icon>
        Flag this Rental
        </span>
      </div>
    </div>

  </div>

  <div>
    <!--<div style="height: 400px; width: 100%;" id="map"></div>
    <div
      style="height: 400px; width: 100%;  background-color: transparent; position: absolute;z-index: 5; bottom: 0%;">
    </div>-->
    <img id="mapImage" ng-src="{{$ctrl.mapUrl}}">

  </div>

</div>

<div style="height: 400px;" ng-if="!$ctrl.item.id">
  <loading-dots style="position: relative; margin: 100px auto 0; display: block; height: 0;"></loading-dots>
</div>

<messaging-bottom-sheet active="$ctrl.bsActive" conversation="$ctrl.conversation"
                        ng-if="$ctrl.bsActive"></messaging-bottom-sheet>
